{
  "tagFormat": "v${version}",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": "false"
    }],
    ["@semantic-release/exec", {
      "successCmd": "echo \"SEMVER_VERSION=${nextRelease.version}\" >> $GITHUB_ENV",
      "publishCmd": "./ci/run-catalog-onboarding-pipeline.sh terraform-ibm-landing-zone-vpc 7df1e4ca-d54c-4fd0-82ce-3d13247308cd 9b8cf6c8-003b-4a09-99b9-474703bc253e v${nextRelease.version} account default github.com terraform-ibm-modules slz"
    }]
  ]
}
